
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link bg-white">
        <span class="brand-text font-weight-light"><b>Pembayaran Listrik</b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <a href="#" class="d-block">@Session["namalengkap"] as</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="menu-header">Main</li>


                @if (Session["id_level"].ToString() == "1" )
                {
                    <li class="nav-item has-treeview  ">
                        <a href="@Url.Action("index", "Home")" class="nav-link  ">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Home
                            </p>
                        </a>

                    </li>

                    <li class="nav-item has-treeview  ">
                        <a href="#" class="nav-link  ">
                            <i class="nav-icon fas fa-database"></i>
                            <p>
                                Master
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">


                            <li class="nav-item ">
                                <a href="@Url.Action("index", "Pelanggan")" class="nav-link" data-toggle="tooltip" data-placement="right">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Pelanggan</p>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="@Url.Action("index", "Penggunaan")" class="nav-link" data-toggle="tooltip" data-placement="right">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Penggunaan</p>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="@Url.Action("index", "Tarif")" class="nav-link" data-toggle="tooltip" data-placement="right">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tarif</p>
                                </a>
                            </li>

                        </ul>
                    </li>


                    <li class="nav-item has-treeview  ">
                        <a href="#" class="nav-link  ">
                            <i class="nav-icon fas fa-credit-card"></i>
                            <p>
                                Transaksi
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">


                            <li class="nav-item ">
                                <a href="@Url.Action("index", "Pembayaran")" class="nav-link" data-toggle="tooltip" data-placement="right">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Pembayaran</p>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="@Url.Action("index", "Tagihan")" class="nav-link" data-toggle="tooltip" data-placement="right">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tagihan</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item has-treeview  ">
                        <a href="@Url.Action("index", "HomePelanggan")" class="nav-link  ">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Home
                            </p>
                        </a>

                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

